<div class="profile">
  <div class="jumbotron text-center">
    <h3>Invite Travellers</h3>
    <%= link_to 'Back to Edit', edit_trip_path(@trip) %>
  </div>
  <div class="profile container">
    <%= form_for [@trip, @user_trip] do |f| %>
      <%= f.collection_select(:user_id, @users, :id, :name) %>
      <%= f.submit "Add Traveller", class: "btn btn-default" %>
    <% end %>
  </div>

</div>

