/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require rails_bootstrap_forms
 *= require_tree .

 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.profile-image-cropper {
  width: 40px;
  height: 40px;
  overflow:hidden;
  border-radius: 50%;
}

.profile-image-cropper img {
  vertical-align: middle;
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.profile-pic {
  margin: 5px;
}

ul.dropdown-menu {
  // background-color:black;
}

.glyphicon {
    color: black;
    font-size: 30px;
    margin: 10px;
    margin-left: 40px;
  }

div.profile{
    .list {
      height: 130px;
      vertical-align: middle;
    }

    div h4 {
      vertical-align: middle;
    }

    padding-top: 50px;

  .image-cropper {
    width: 200px;
    height: 200px;
    overflow:hidden;
    border-radius: 50%;
  }

  .image-cropper img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
}





