/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

div.home-page {

  .navbar-form.navbar-right:last-child {
    margin-right: 2px;
  }

  .glyphicon {
    color: white;
    font-size: 30px;
    margin: 10px;
    margin-left: 20px;
  }

  .home-text {
    letter-spacing: 4px;
  }

  header.section {
    color: white;
    height: 100vh;
    // background-image: image-url("IMG_8794.JPG");
    // background: url(<%= randomized_background_image %>) no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    // opacity: 0.5;
  }

  div.container {
    margin-top: 50px;
  }

  div.field, div.actions {
    color: black;
  }

  div div.thumbnail {
    background-color: none;
  }

  a div{
    color: white;
  }

  div .sign-up {
    width: 50%;
    background-color: transparent;
    border: white 2px solid;
    color: #555555;
  }

  div #sign-up {
    margin-left: 20px;
  }

  .input-login {
    width: 200px;
  }

  .btn-inverse, .input-login {
    background-color: transparent;
    border: white 2px solid;
    color: #white;
  }

  .btn-inverse:hover {
    background-color: white;
    color: #555555;
  }

  .submit-btn {
    background-color: white;
    color: #555555;
  }

  section.about {
    // background-color: #005566;
    color: #555555;
  }

  ::-webkit-input-placeholder {
   color: white;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: white;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: white;
  }

  :-ms-input-placeholder {
     color: white;
  }
  }



