<!DOCTYPE html>
<html>
<head>
  <title>Travel App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <%= stylesheet_link_tag    'landing_page', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="content">
  <%= yield %>
</div>
  <footer class="footer"><div class="container text-center"> <p class="text-muted">&copy; 2017 Carlie Clippinger</p></div></footer>
</body>
</html>
